[submodule ".registry"]
	path = .registry
	url = https://github.com/uzh-peg/universe
	shallow = true
	branch = HEAD
[submodule "dmdScheme"]
	path = dmdScheme
	url = https://github.com/UZH-PEG/dmdScheme
	shallow = true
	registered = true
[submodule "microxanox"]
	path = microxanox
	url = https://github.com/UZH-PEG/microxanox
	shallow = true
	registered = true
