[submodule ".registry"]
	path = .registry
	url = https://github.com/uzh-peg/uzh-peg.r-universe.dev
	branch = HEAD
[submodule "dmdScheme"]
	path = dmdScheme
	url = https://github.com/UZH-PEG/dmdScheme
[submodule "microxanox"]
	path = microxanox
	url = https://github.com/UZH-PEG/microxanox
